<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />

    <title>My Fliptlet Test Client</title>
  </head>
  <body>
    <div id="app" class="container">
      <div class="row">
        <div class="col-xl-12">
          <h1>RSS Feeds</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <form class="form">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Enter RSS URL"
                disabled
                v-if="isFetchingData"
              />
              <input
                type="text"
                class="form-control"
                placeholder="Enter RSS URL"
                required
                v-model.trim="rssUrl"
                v-else
              />
            </div>
            <div class="form-group">
              <input
                type="submit"
                class="btn btn-primary btn-block"
                type="button"
                value="Search"
                @click.prevent="handleSearch"
                disabled
                v-if="isFetchingData"
              />
              <input
                type="submit"
                class="btn btn-primary btn-block"
                type="button"
                value="Search"
                @click.prevent="handleSearch"
                v-else
              />
            </div>
          </form>
          <hr />
        </div>
      </div>

      <div class="row">
        <div class="col-xl-12">
          <h1>Articles</h1>

          <div v-for="(item, index) in items" :key="index">
            <div class="card">
              <img
                class="card-img-top"
                :src="item.thumbnail ? item.thumbnail : altImg"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text" v-html="item.description"></p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>

            <hr />
          </div>

          <hr />
        </div>
      </div>
    </div>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="./script.js"></script>
</html>
